<app-navbar></app-navbar>
<div class="container" *ngIf="!(searchIsActive$ | async)" style="padding-top: 1rem;">
  <div style="padding-left: 1rem;">
    <p *ngIf="(users$ | async)?.length">All of these are registered users.</p>
    <p *ngIf="!(users$ | async)?.length">No registered users, I recommend you reload the page to start again.</p>
  </div>
  <div class="users">
    <app-user-card [user]="user" *ngFor="let user of users$ | async"></app-user-card>
  </div>
</div>

<div class="container" *ngIf="searchIsActive$ | async" style="padding-top: 1rem;">
  <div style="padding-left: 1rem;">
    <p *ngIf="(searchResult$ | async)?.length">These are the results of:</p>
    <p *ngIf="!(searchResult$ | async)?.length">There are no search results for:</p>
  </div>
  <div class="users">
    <app-user-card [user]="user" *ngFor="let user of searchResult$ | async"></app-user-card>
  </div>
</div>
